<!doctype html>
<html>
<head>
<title>Durhack 2017 Project</title>
</head>

<body>
<h1>Discover information about your journey</h1>

<p>
    <form name="latlong" action="/results" method="POST">
        Starting from...<br />
        <input type="text" name="lat_a" placeholder="latitude">
        <input type="text" name="long_a" placeholder="longitude"><br />
        ...and going to...<br />
        <input type="text" name="lat_b" placeholder="latitude">
        <input type="text" name="long_b"placeholder="longitude"> <br />
        <input type="submit" value="Search!" action="/results">
    </form>
</p>

<p>

</p>

</body>

</html>