<!doctype html>

<html>

<head>
<title>Your results</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<p class='top-bar'>
<a href='/index'>Home</a> | About | Contact Us
<p>

<div class='main-stuff'>
<h3>Your journey details are shown below</h3>

<p>
We've found some information about your travel from ({{searched.lat_a}}, {{searched.long_a}}) to ({{searched.lat_b}}, {{searched.long_b}}):
<ul>
    <li>Your net climb/descent is {{delta_h}} metres</li>
    <li>The total distance (as the crow flies) is {{'%0.0f' %dist}} km </li>
    <li>You can lock your bike {{'%0.0f' %nearest_lock}} metres from your destination</li>
</ul>

</div>

<body>

<html>